<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LyricWikiBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://lyrics.wikia.com/server.php" binding="basicHttpBinding"
                bindingConfiguration="LyricWikiBinding" contract="LyricsWiki.LyricWikiPortType"
                name="LyricWikiPort" />
        </client>
    </system.serviceModel>
</configuration>